@page
@model jimyTest.Pages.Usuarios.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.BirthDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario.RecoveryPassword)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.RecoveryPassword)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario.Active)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Active)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Usuario?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
